<br>
Ajouter une vue
<br>
Appareil Photo : {{vue.appareilPhoto?.materiel?.nom}}
<br>
Film : {{vue.film?.produit?.nom}}
<br>
Sensibilité en ISO : {{vue.film?.sensibilite?.nom}}
<br>
Liste des ouvertures possible :
<select [(ngModel)]="ouvertures" name="type">
  <option *ngFor="let ouverture of ouvertures" [value]="ouverture.id">{{ouverture.nom}}</option>
</select>
<br>
Liste des vitesses possible :
<select [(ngModel)]="vitesses" name="type">
  <option *ngFor="let vitesse of vitesses" [value]="vitesse.id">{{vitesse.nom}}</option>
</select>
