<article>
  <section class="listing-features">
    <ul>
      <li>Nom : {{materiel.nom}}</li>
      <li>Type : {{materiel.typeMateriel?.nom}}</li>
      <li>Sous type : {{materiel.sousType?.nom}}</li>
      <li>Statut : {{materiel.statutMateriel?.nom}}</li>
      <li>Marque : {{materiel.modele?.marque?.nom}}</li>
      <li>Modéle : {{materiel.modele?.nom}}</li>
      <li>Remaque : {{materiel.remarque}}</li>
      <li>Mode d'emploie : {{materiel.modeEmploie}}</li>
    </ul>
  </section>
  <img class="photo" src="assets/Images/{{ materiel.nom }}.jpg" alt="Photo de {{materiel.nom}}"/>
</article>
