<hr>
<h1>Recherche de matériel</h1>

<div class="container">
  <h1>Hero Form</h1>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Nom</label>
      <input type="text" class="form-control" id="nom" required [(ngModel)]="model.nom" name="Nom">
    </div>

    <div class="form-group">
      <label>Type</label>
      <select class="form-control" id="type" required [(ngModel)]="model.typeMateriel" name="type">
        <option *ngFor="let type of types" [value]="type">{{type.nom}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="marque">Marque</label>
      <select class="form-control" id="marque" required [(ngModel)]="model.remarque" name="marque">
        <option *ngFor="let marque of marques" [value]="marque">{{marque.nom}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="modele">Modéle</label>
      <select class="form-control" id="modele" required [(ngModel)]="model.modele" name="modele">
        <option *ngFor="let modele of modeles" [value]="modeles">{{modele.nom}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<hr>
<h1>Liste des matériels</h1>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="Identifiant">
      <th mat-header-cell *matHeaderCellDef>Identifiant</th>
      <td mat-cell *matCellDef="let materiel"> {{materiel.id}} </td>
    </ng-container>

    <ng-container matColumnDef="Nom">
      <th mat-header-cell *matHeaderCellDef>Nom</th>
      <td mat-cell *matCellDef="let materiel"> {{materiel.nom}} </td>
    </ng-container>

    <ng-container matColumnDef="Type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let materiel"> {{materiel.typeMateriel?.nom}} </td>
    </ng-container>

    <ng-container matColumnDef="Sous type">
      <th mat-header-cell *matHeaderCellDef>Sous type</th>
      <td mat-cell *matCellDef="let materiel"> {{materiel.sousType?.nom}} </td>
    </ng-container>

    <ng-container matColumnDef="Statut">
      <th mat-header-cell *matHeaderCellDef>Statut</th>
      <td mat-cell *matCellDef="let materiel"> {{materiel.statutMateriel?.nom}} </td>
    </ng-container>

    <ng-container matColumnDef="Marque">
      <th mat-header-cell *matHeaderCellDef>Marque</th>
      <td mat-cell *matCellDef="let materiel"> {{materiel.modele?.marque?.nom}} </td>
    </ng-container>

    <ng-container matColumnDef="Modéle">
      <th mat-header-cell *matHeaderCellDef>Modéle</th>
      <td mat-cell *matCellDef="let materiel"> {{materiel.modele?.nom}} </td>
    </ng-container>

    <ng-container matColumnDef="Photo">
      <th mat-header-cell *matHeaderCellDef>Photo</th>
      <td mat-cell *matCellDef="let materiel"> {{materiel.photo}} </td>
    </ng-container>

    <ng-container matColumnDef="Mode d'emploie">
      <th mat-header-cell *matHeaderCellDef>Mode d'emploie</th>
      <td mat-cell *matCellDef="let materiel"> {{materiel.modeEmploie}} </td>
    </ng-container>

    <ng-container matColumnDef="Remarque">
      <th mat-header-cell *matHeaderCellDef>Remarque</th>
      <td mat-cell *matCellDef="let materiel"> {{materiel.remarque}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="onSelect(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
<hr>
<h1>Détail du matériel</h1>
<div>
  <label>Identifiant: </label> {{materiel.id}}
</div>
<div>
  <label>Nom: </label> {{materiel.nom}}
</div>
<div>
  <label>Type: </label> {{materiel.typeMateriel?.nom}}
</div>
<div>
  <label>Sous type: </label> {{materiel.sousType?.nom}}
</div>
<div>
  <label>Statut: </label> {{materiel.statutMateriel?.nom}}
</div>
<div>
  <label>Marque: </label> {{materiel.modele?.marque?.nom}}
</div>
<div>
  <label>Modéle: </label> {{materiel.modele?.nom}}
</div>
<div>
  <label>Photo: </label> {{materiel.photo}}
</div>
<div>
  <label>Mode d'emploie: </label> {{materiel.modeEmploie}}
</div>
<div>
  <label>Remarque: </label> {{materiel.remarque}}
</div>
