<h1>Détail dde la prise de vue</h1>
<div>
  <ul>
    <li>Nom : {{priseDeVue.nom}}</li>
    <li>Statut : {{priseDeVue.statutPriseDeVue?.nom}}</li>
    <li>Date : {{priseDeVue.date}}</li>
    <li>Position : {{priseDeVue.position}}</li>
    <li>Remaque : {{priseDeVue.remarque}}</li>
    <li>Ville : {{priseDeVue.ville}}</li>
    <li>Code postal : {{priseDeVue.codePostal}}</li>
    <li>Latitude : {{priseDeVue.latitude}}</li>
    <li>Longitude : {{priseDeVue.longitude}}</li>
    <a href="https://prevision-meteo.ch/meteo/localite/{{priseDeVue.ville}}">Afficher la météo</a>
  </ul>
</div>
