<h1>Détail dde la prise de vue</h1>
  <ul>
    <li>Nom : {{priseDeVue.nom}}</li>
    <li>Statut : {{priseDeVue.statutPriseDeVue?.nom}}</li>
    <li>Date : {{priseDeVue.date | date: 'le dd/MM/yyyy à HH:mm'}}</li>
    <li>Position : {{priseDeVue.position}}</li>
    <li>Remarque : {{priseDeVue.remarque}}</li>
    <li>Ville : {{priseDeVue.ville}}</li>
    <li>Code postal : {{priseDeVue.codePostal}}</li>
    <li>Latitude : {{priseDeVue.latitude}}</li>
    <li>Longitude : {{priseDeVue.longitude}}</li>
    <li *ngIf="priseDeVue.ville"><a href="https://prevision-meteo.ch/meteo/localite/{{priseDeVue.ville}}">
      Afficher la météo</a></li>
  </ul>
  <ul>
    <li>Le lever du soleil est à {{positionSoleil.results?.sunrise | date: 'HH:mm le dd/MM/yyyy'}}</li>
    <li>Le coucher du soleil est à {{positionSoleil.results?.sunset | date: 'HH:mm le dd/MM/yyyy'}}</li>
    <li>Le midi solaire est à {{positionSoleil.results?.solar_noon | date: 'HH:mm le dd/MM/yyyy'}}</li>
    <li>La durée de la journée est de {{positionSoleil.results?.day_length}}</li>
    <li>Le début du crépuscule civil est à
      {{positionSoleil.results?.civil_twilight_begin | date: 'HH:mm le dd/MM/yyyy'}}</li>
    <li>La fin du crépuscule civil est à
      {{positionSoleil.results?.civil_twilight_end | date: 'HH:mm le dd/MM/yyyy'}}</li>
    <li>Le début du crépuscule nautique est à
      {{positionSoleil.results?.nautical_twilight_begin | date: 'HH:mm le dd/MM/yyyy'}}</li>
    <li>La fin du crépuscule nautique est à
      {{positionSoleil.results?.nautical_twilight_end | date: 'HH:mm le dd/MM/yyyy'}}</li>
    <li>Le début du crépuscule astronomique est à
      {{positionSoleil.results?.astronomical_twilight_begin | date: 'HH:mm le dd/MM/yyyy'}}</li>
    <li>Le fin du crépuscule astronomique est à
      {{positionSoleil.results?.astronomical_twilight_end | date: 'HH:mm le dd/MM/yyyy'}}</li>
  </ul>
