<h2>Détail de l'appareil photo</h2>
<app-materiel [materiel]="appareilPhoto.materiel" *ngIf="appareilPhoto.materiel"></app-materiel>
<li>Le type d'appareil photo : {{appareilPhoto.typeAppareilPhoto?.nom}}</li>
<li>Le type de fixation de l'objectif : {{appareilPhoto.typeFixationObjectif?.nom}}</li>
<li>Nom de l'objectif : {{appareilPhoto.objectif?.materiel?.nom}}</li>
<li *ngIf="appareilPhoto.typeFixationFlash">Le type de fixation du flash :
  {{appareilPhoto.typeFixationFlash.nom}}</li>
<li *ngIf="appareilPhoto.typeFixationPied">Le type de fixation du pied : {{appareilPhoto.typeFixationPied.nom}}</li>
<li *ngIf="appareilPhoto.chassis">Le Chassis monté : {{appareilPhoto.chassis.materiel?.nom}}</li>
<li *ngIf="appareilPhoto.film">Le film chargé : {{appareilPhoto.film}}</li>
<li *ngIf="appareilPhoto.typeMiseAuPoint">Le type de mise au point : {{appareilPhoto.typeMiseAuPoint.nom}}</li>
<br>
<app-materiel-objectif [objectif]="appareilPhoto.objectif" *ngIf="appareilPhoto.objectif"></app-materiel-objectif>
<br>
<app-materiel-chassis [chassis]="appareilPhoto.chassis" *ngIf="appareilPhoto.chassis"></app-materiel-chassis>
