<hr>
<h1>Prise de vue</h1>
<form (ngSubmit)="onSubmit()">
  <div>
    <mat-form-field>
      <mat-label>Nom</mat-label>
      <input matInput [(ngModel)]="priseDeVue.nom" name="nom">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Statut</mat-label>
      <mat-select [(value)]="selectedStatus">
        <mat-option [value]="statut.id" *ngFor="let statut of statuts">{{statut.nom}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" name="Date" [(ngModel)]="datePriseDeVue">
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Heure</mat-label>
      <input matInput type="time" name="Heure" [(ngModel)]="heurePriseDeVue">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Remarque</mat-label>
      <textarea matInput [(ngModel)]="priseDeVue.remarque" name="remarque"></textarea>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Position</mat-label>
      <mat-select [(value)]="selectedPosition">
        <mat-option [value]="position.id" *ngFor="let position of positions">{{position.nom}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Materiels</mat-label>
      <mat-select [(ngModel)]="priseDeVue.materiels" multiple name="materiels">
        <mat-option *ngFor="let materiel of materiels" [value]="materiel">{{materiel.nom}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Films</mat-label>
      <mat-select [(ngModel)]="priseDeVue.films" multiple name="films">
        <mat-option *ngFor="let film of films" [value]="film">{{film.produit?.nom}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button mat-button type="submit">Enregistrer</button>
</form>
<div *ngIf="errorMessage" class="alert alert-error">
  <strong>Erreur : </strong> {{errorMessage | json}}
</div>
