<hr>
<h1>Recherche de matériel</h1>
<form (ngSubmit)="onSubmit()">

  <label>Nom : </label>
  <input type="text" [(ngModel)]="modelRecherche.nom" name="Nom">

  <div>
    <label>Type : </label>
    <select [(ngModel)]="modelRecherche.typeMateriel" name="type">
      <option *ngFor="let type of types" [value]="type.id">{{type.nom}}</option>
    </select>
    <label>Sous type : </label>
    <select [(ngModel)]="modelRecherche.sousType" name="sousType">
      <option *ngFor="let type of sousTypes" [value]="type.id">{{type.nom}}</option>
    </select>
  </div>

  <label>Statut : </label>
  <select [(ngModel)]="modelRecherche.statutMateriel" name="statut">
    <option *ngFor="let statut of statuts" [value]="statut.id">{{statut.nom}}</option>
  </select>

  <div>
    <label>Marque : </label>
    <select [(ngModel)]="modelRecherche.marque" name="marque">
      <option *ngFor="let marque of marques" [value]="marque.id">{{marque.nom}}</option>
    </select>
    <label>Modéle : </label>
    <select [(ngModel)]="modelRecherche.modele" name="modele">
      <option *ngFor="let modele of modeles" [value]="modele.id">{{modele.nom}}</option>
    </select>
  </div>
  <div>
    <label>Remarque : </label>
    <input type="text" [(ngModel)]="modelRecherche.remarque" name="remarque">
  </div>
  <button type="submit" class="btn btn-success">Rechercher</button>
</form>
<hr>
<h1>Liste des matériels</h1>
<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="ID">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let materiel"> {{materiel.id}} </td>
  </ng-container>

  <ng-container matColumnDef="Nom">
    <th mat-header-cell *matHeaderCellDef>Nom</th>
    <td mat-cell *matCellDef="let materiel"> {{materiel.nom}} </td>
  </ng-container>

  <ng-container matColumnDef="Type">
    <th mat-header-cell *matHeaderCellDef>Type</th>
    <td mat-cell *matCellDef="let materiel"> {{materiel.typeMateriel?.nom}} </td>
  </ng-container>

  <ng-container matColumnDef="Sous type">
    <th mat-header-cell *matHeaderCellDef>Sous type</th>
    <td mat-cell *matCellDef="let materiel"> {{materiel.sousType?.nom}} </td>
  </ng-container>

  <ng-container matColumnDef="Statut">
    <th mat-header-cell *matHeaderCellDef>Statut</th>
    <td mat-cell *matCellDef="let materiel"> {{materiel.statutMateriel?.nom}} </td>
  </ng-container>

  <ng-container matColumnDef="Marque">
    <th mat-header-cell *matHeaderCellDef>Marque</th>
    <td mat-cell *matCellDef="let materiel"> {{materiel.modele?.marque?.nom}} </td>
  </ng-container>

  <ng-container matColumnDef="Modéle">
    <th mat-header-cell *matHeaderCellDef>Modéle</th>
    <td mat-cell *matCellDef="let materiel"> {{materiel.modele?.nom}} </td>
  </ng-container>

  <ng-container matColumnDef="Photo">
    <th mat-header-cell *matHeaderCellDef>Photo</th>
    <td mat-cell *matCellDef="let materiel">
      <img *ngIf="materiel.photo" class="photo" src="assets/Images/{{ materiel.nom }}.jpg" alt="Photo"/>
    </td>
  </ng-container>

  <ng-container matColumnDef="Mode d'emploie">
    <th mat-header-cell *matHeaderCellDef>Mode d'emploie</th>
    <td mat-cell *matCellDef="let materiel">
      <a *ngIf="materiel.modeEmploie" href="assets/ModeEmploie/{{ materiel.nom }}.pdf" target="_blank"
         rel="noopener noreferrer">Afficher le mode d'emploie</a>
    </td>
  </ng-container>

  <ng-container matColumnDef="Remarque">
    <th mat-header-cell *matHeaderCellDef>Remarque</th>
    <td mat-cell *matCellDef="let materiel"> {{materiel.remarque}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row (click)="onSelect(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<hr>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
<hr>
<app-detail-materiel [materiel]="materiel" [appareilPhoto]="appareilPhoto"></app-detail-materiel>
