<hr>
<h1>Recherche de prise de vue</h1>
<form (ngSubmit)="onSubmit()">
  <div>
    <label>Nom : </label>
    <input type="text" [(ngModel)]="modelRecherchePriseDeVue.nom" name="nom">
  </div>
  <div>
    <label>Statut : </label>
    <select [(ngModel)]="modelRecherchePriseDeVue.statutPriseDeVue" name="statut">
      <option *ngFor="let statut of statuts" [value]="statut.id">{{statut.nom}}</option>
    </select>
  </div>
  <div>
    <label>Position : </label>
    <select [(ngModel)]="modelRecherchePriseDeVue.position" name="position">
      <option *ngFor="let position of positions" [value]="position.id">{{position.nom}}</option>
    </select>
  </div>
  <div>
    <label>Date : </label>
    <input type="date" id="date" name="date"
           [(ngModel)]="modelRecherchePriseDeVue.date">
  </div>
  <div>
    <label>Remarque : </label>
    <input type="text" [(ngModel)]="modelRecherchePriseDeVue.remarque" name="remarque">
  </div>
  <button type="submit" class="btn btn-success">Rechercher</button>
</form>
<hr>
<h1>Liste des prises de vue</h1>
<div>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="Tâche">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let priseDeVue">
        <a
          routerLink="/priseDeVue/detail/{{priseDeVue.id}}/{{priseDeVue.position.latitude}}/{{priseDeVue.position.longitude}}/{{priseDeVue.date | date: 'yyyy-MM-dd'}}">
          Détail
        </a>
      </td>
    </ng-container>
    <ng-container matColumnDef="Nom">
      <th mat-header-cell *matHeaderCellDef>Nom</th>
      <td mat-cell *matCellDef="let priseDeVue"> {{priseDeVue.nom}} </td>
    </ng-container>
    <ng-container matColumnDef="Statut">
      <th mat-header-cell *matHeaderCellDef>Statut</th>
      <td mat-cell *matCellDef="let priseDeVue"> {{priseDeVue.statutPriseDeVue?.nom}} </td>
    </ng-container>
    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let priseDeVue"> {{priseDeVue.date | date: 'le dd/MM/yyyy à HH:mm'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="onSelect(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
<hr>
