<h1>Détail du produit</h1>
<div>
  <ul>
    <li>Nom : {{produit?.nom}}</li>
    <li>Type : {{produit?.typeProduit?.nom}}</li>
    <li>Statut : {{produit?.statutProduit?.nom}}</li>
    <li>Marque : {{produit?.modele?.marque?.nom}}</li>
    <li>Modéle : {{produit?.modele?.nom}}</li>
    <li>Remaque : {{produit?.remarque}}</li>
    <li>Mode d'emploie :
      <a *ngIf="produit?.modeEmploie" href="assets/ModeEmploie/{{produit?.nom}}.pdf" target="_blank"
         rel="noopener noreferrer">
        Afficher le mode d'emploie
      </a>
    </li>
  </ul>
  <img *ngIf="produit?.photo" class="photo" src="assets/Images/{{produit?.nom}}.jpg" alt="Photo de {{produit?.nom}}"/>
</div>
<div *ngIf="film">
  <ul>
    <h2>Détail du film</h2>
    <li>Statut du film : {{film.statutFilm?.nom}}</li>
    <li>Taille du film : {{film.tailleFilm?.nom}}</li>
    <li>Type du film :   {{film.tailleFilm?.nom}}</li>
    <li>Taille des vue : {{film.tailleVue?.nom}}</li>
    <li>Nombre de vue possible : {{film.nbVuePossible}} </li>
    <li>Nombre de déjà exposé :  {{film.nbVueExpose}}</li>
    <li>Sensibilité : {{film.sensibilite}}</li>
  </ul>
</div>
