<div *ngIf="appareilPhoto">
  <ul>
    <h2>Détail de l'appareil photo</h2>
    <li>Nom : {{materiel?.nom}}</li>
    <li>Type : {{materiel?.typeMateriel?.nom}}</li>
    <li>Sous type : {{materiel?.sousType?.nom}}</li>
    <li>Statut : {{materiel?.statutMateriel?.nom}}</li>
    <li>Marque : {{materiel?.modele?.marque?.nom}}</li>
    <li>Modéle : {{materiel?.modele?.nom}}</li>
    <li>Remaque : {{materiel?.remarque}}</li>
    <li>Mode d'emploie :
      <a href="assets/ModeEmploie/{{materiel?.nom}}.pdf" target="_blank" rel="noopener noreferrer">
        Afficher le mode d'emploie
      </a>
    </li>
    <li>Le type d'appareil photo : {{appareilPhoto.typeAppareilPhoto?.nom}}</li>
    <li>Le type de fixation de l'objectif : {{appareilPhoto.typeFixationObjectif?.nom}}</li>
    <li>Nom de l'objectif : {{appareilPhoto.objectif?.materiel?.nom}}</li>
    <li>Le type de fixation du flash : {{appareilPhoto.typeFixationFlash?.nom}}</li>
    <li>Le type de fixation du pied : {{appareilPhoto.typeFixationPied?.nom}}</li>
    <li>Le Chassis monté : {{appareilPhoto.chassis?.materiel?.nom}}</li>
    <li>Le film chargé : {{appareilPhoto.film}}</li>
    <li>Le type de mise au point : {{appareilPhoto.typeMiseAuPoint?.nom}}</li>
  </ul>
  <img class="photo" src="assets/Images/{{materiel?.nom}}.jpg" alt="Photo de {{materiel?.nom}}"/>
  <ul>
    <h2>Détail de l'objectif</h2>
    <li>Nom : {{appareilPhoto.objectif?.materiel?.nom}}</li>
    <li>Statut : {{appareilPhoto.objectif?.materiel?.statutMateriel?.nom}}</li>
    <li>Marque : {{appareilPhoto.objectif?.materiel?.modele?.marque?.nom}}</li>
    <li>Modéle : {{appareilPhoto.objectif?.materiel?.modele?.nom}}</li>
    <li>Remaque : {{appareilPhoto.objectif?.materiel?.remarque}}</li>
    <li>Mode d'emploie :
      <a href="assets/ModeEmploie/{{appareilPhoto.objectif?.materiel?.nom}}.pdf" target="_blank"
         rel="noopener noreferrer">
        Afficher le mode d'emploie
      </a>
    </li>
    <li>Le type de fixation de l'objectif : {{appareilPhoto.objectif?.typeFixationObjectif?.nom}}</li>
    <li>Le type de fixation du flash : {{appareilPhoto.objectif?.typeFixationFlash?.nom}}</li>
    <li>Le type de fixation du pied : {{appareilPhoto.objectif?.typeFixationPied?.nom}}</li>
    <li>Le type de fixation du filtre : {{appareilPhoto.objectif?.typeFixationFiltre?.nom}}</li>
  </ul>
  <img class="photo" src="assets/Images/{{appareilPhoto.objectif?.materiel?.nom}}.jpg"
       alt="Photo de {{appareilPhoto.objectif?.materiel?.nom}}"/>
</div>
<div *ngIf="appareilPhoto">
  <ul>
    <h2>Détail du chassi</h2>
    <li>Nom : {{appareilPhoto.chassis?.materiel?.nom}}</li>
    <li>Statut : {{appareilPhoto.chassis?.materiel?.statutMateriel?.nom}}</li>
    <li>Marque : {{appareilPhoto.chassis?.materiel?.modele?.marque?.nom}}</li>
    <li>Modéle : {{appareilPhoto.chassis?.materiel?.modele?.nom}}</li>
    <li>Remaque : {{appareilPhoto.chassis?.materiel?.remarque}}</li>
    <li *ngIf="appareilPhoto.chassis?.materiel?.modeEmploie">
      Mode d'emploie :
      <a href="assets/ModeEmploie/{{appareilPhoto.chassis?.materiel?.nom}}.pdf"
         target="_blank" rel="noopener noreferrer">
        Afficher le mode d'emploie
      </a>
    </li>
    <li>Le Statut : {{appareilPhoto.chassis?.statutChassis?.nom}}</li>
    <li>La dimension : {{appareilPhoto.chassis?.dimensionChassis?.nom}}</li>
  </ul>
  <img class="photo" src="assets/Images/{{appareilPhoto.chassis?.materiel?.nom}}.jpg"
       alt="Photo de {{appareilPhoto.chassis?.materiel?.nom}}"/>
  <ul>
    <h2>Détail du film</h2>
    <li>Nom : {{appareilPhoto.chassis?.film?.produit?.nom}}</li>
    <li>Statut : {{appareilPhoto.chassis?.film?.statutFilm?.nom}}</li>
    <li>Marque : {{appareilPhoto.chassis?.film?.produit?.modele?.marque?.nom}}</li>
    <li>Modéle : {{appareilPhoto.chassis?.film?.produit?.modele?.nom}}</li>
    <li>Remaque : {{appareilPhoto.chassis?.film?.produit?.remarque}}</li>
    <li *ngIf="appareilPhoto.chassis?.film?.produit?.modeEmploie">Mode d'emploie :
      <a href="assets/ModeEmploie/{{appareilPhoto.chassis?.film?.produit?.nom}}.pdf" target="_blank"
         rel="noopener noreferrer">
        Afficher le mode d'emploie
      </a>
    </li>
    <li>La taille : {{appareilPhoto.chassis?.film?.tailleFilm?.nom}}</li>
    <li>Le type : {{appareilPhoto.chassis?.film?.typeFilm?.nom}}</li>
  </ul>
  <img class="photo" src="assets/Images/{{appareilPhoto.chassis?.film?.produit?.nom}}.jpg"
       alt="Photo de {{appareilPhoto.chassis?.film?.produit?.nom}}"/>
</div>
<div >
  <ul>
    <h2>Détail du pied</h2>
    <li>Nom : {{materiel?.nom}}</li>
    <li>Type : {{materiel?.typeMateriel?.nom}}</li>
    <li>Sous type : {{materiel?.sousType?.nom}}</li>
    <li>Statut : {{materiel?.statutMateriel?.nom}}</li>
    <li>Marque : {{materiel?.modele?.marque?.nom}}</li>
    <li>Modéle : {{materiel?.modele?.nom}}</li>
    <li>Remaque : {{materiel?.remarque}}</li>
    <li *ngIf="materiel?.modeEmploie">Mode d'emploie :
      <a href="assets/ModeEmploie/{{materiel?.nom}}.pdf" target="_blank" rel="noopener noreferrer">
        Afficher le mode d'emploie
      </a>
    </li>
    <li>Dimension ouvert : {{pied?.dimensionOuvert}}</li>
    <li>Dimension fermé : {{pied?.dimensionFerme}}</li>
    <li>Pas de vis : {{pied?.pasDeVis}}</li>
  </ul>
  <img class="photo" src="assets/Images/{{materiel?.nom}}.jpg" alt="Photo de {{materiel?.nom}}"/>
  <ul *ngIf="pied?.rotule">
    <h2>Détail de la rotule</h2>
    <li>Nom : {{pied?.rotule?.materiel?.nom}}</li>
    <li>Statut : {{pied?.rotule?.materiel?.statutMateriel?.nom}}</li>
    <li>Marque : {{pied?.rotule?.materiel?.modele?.marque?.nom}}</li>
    <li>Modéle : {{pied?.rotule?.materiel?.modele?.nom}}</li>
    <li>Remaque : {{pied?.rotule?.materiel?.remarque}}</li>
    <li>Mode d'emploie :
      <a href="assets/ModeEmploie/{{pied?.rotule?.materiel?.nom}}.pdf" target="_blank"
         rel="noopener noreferrer">
        Afficher le mode d'emploie
      </a>
    </li>
    <li>Pas de vis du matériel : {{pied?.rotule?.pasDeVisMateriel}}</li>
    <li>Pas de vis du pied : {{pied?.rotule?.pasDeVisPied}}</li>
    <li>Avec fixation rapide : {{pied?.rotule?.avecFixationRapide}}</li>
  </ul>
  <img *ngIf="pied?.rotule" class="photo" src="assets/Images/{{pied?.rotule?.materiel?.nom}}.jpg"
       alt="Photo de {{pied?.rotule?.materiel?.nom}}"/>
</div>
